beautifulsoup4
feedparser
icd10_cm
matplotlib
newspaper
numpy
pandas
pymongo
python-dotenv
Requests
scikit_learn
seaborn
sentence_transformers
setuptools
snorkel
torch
tqdm
transformers
xgboost
xmltodict
