beautifulsoup4
feedparser
icd10_cm
matplotlib
numpy
pandas
pymongo
python-dotenv
Requests
scikit_learn
seaborn
sentence_transformers
setuptools
snorkel
torch
tqdm
transformers
xgboost
xmltodict
llama_index==0.10.44
openai==1.34.0
